body {
  margin: 0px;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-image: linear-gradient(45deg, black, #34144b);
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(118, 0, 233, 0.375);
}

img {
  display: none;
}
